@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@model IEnumerable<ZenithAssignment.Models.ApplicationUser>
@inject UserManager<ApplicationUser> userManager
@{
    ViewBag.Title = "Roles";

}

<h2>@ViewBag.Title</h2>

<p>
    <a asp-controller="Roles" asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>Roles</th>
        <th>Users</th>
        <th>Options</th>
    </tr>

    @foreach (IdentityRole r in ViewBag.roleStuff)
    {
        <tr>
            <td>
                @r.Name
            </td>
            <td>
                @foreach (var item in Model)
                {
                    @if (await userManager.IsInRoleAsync(item, r.Name))
                    {
                        @item.UserName
                        <br/>
                    }

                }
            </td>
            <td>
              
                <a asp-action="AddUser" asp-route-id="@r.Name">Add user</a> |
                <a asp-action="RemoveUser" asp-route-id="@r.Name">Remove user</a> |
                <a asp-action="Edit" asp-route-id="@r.Name">Edit</a> |
                <a asp-action="Delete" asp-route-id="@r.Name">Delete</a>
            </td>
        </tr>
    }   
    

</table>
